[user]
    name  = uname
    email = e-mail

[alias]
    co = checkout
    st = status -a

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy

[pager]
    color = true

[status]
    color = auto
