! xft fonts ------------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault
Xft.hinting:    true
Xft.hintstyle:  hintslight

! xterm ----------------------------------------------------------------------

xterm*geometry: 80x25
xterm*faceName: xft:Dejavu Sans Mono:pixelsize=14:antialias=true
xterm*dynamicColors: true
xterm*utf8: 2
xterm*eightBitInput: true
xterm*saveLines: 512
xterm*scrollTtyKeypress: true
xterm*scrollTtyOutput: false
xterm*scrollBar: true
xterm*rightScrollBar: true
xterm*loginShell: true
xterm*jumpScroll: true
xterm*multiScroll: true
xterm*toolBar: false
!black
XTerm*color0: #353535
XTerm*color8: #666666
!red
XTerm*color1: #7b3303
XTerm*color9: #804015
!green
XTerm*color2: #556B2F
XTerm*color10: #4e6d19
!brown/yellow
XTerm*color3: #a67b07
XTerm*color11: #a67b07
!blue
XTerm*color4: #427288
XTerm*color12: #6b94a7
!magenta
XTerm*color5: #705b46
XTerm*color13: #664a30
!cyan
XTerm*color6: #A7A15E
XTerm*color14: #F0E68C
!white
XTerm*color7: #DDDDDD
XTerm*color15: #bcbcbc

! man pages
*VT100.colorBDMode:     true
*VT100.colorBD:         red
*VT100.colorULMode:     true
*VT100.colorUL:         cyan

! urxvt ---------------------------------------------------------------------

URxvt*foreground: #9da560
URxvt*background: #101309

!!Black
!URxvt*color0: #101309
!URxvt*color8: #222815
!!Red
!URxvt*color1: #C8611F
!URxvt*color9: #ffb73e
!!Green
!URxvt*color2: #546B28
!URxvt*color10: #9fca4e
!!Yelllow
!URxvt*color3: #DCA53E
!URxvt*color11: #ffff77
!!Blue
!URxvt*color4: #235967
!URxvt*color12: #45a9c2
!!Magenta
!URxvt*color5: #914C5A
!URxvt*color13: #ff91aa
!!Cyan
!URxvt*color6: #4F9E4E
!URxvt*color14: #96ff94
!!White
!URxvt*color7: #9da560
!URxvt*color15: #ffffd8

URxvt*font:xft:Dejavu Sans Mono:pixelsize=14:antialias=true
URxvt.perl-ext-common:  default,matcher,tabbed
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1
URxvt.underlineURLs: true

URxvt*scrollstyle:plain
URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt*transpscrollbar: true
URxvt*scrollBar_floating: true
URxvt*saveLines: 1000000
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*geometry: 84x24

! man pages
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7
